python-dotenv
langchain
langchain-openai
langchain-community
langchain-core
tiktoken
transformers
sentence-transformers
faiss-cpu
pypdf
python-magic-bin
langchain-huggingface
pandas
google-api-python-client>=2.100.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0.0
google-auth>=2.22.0
rich
pydantic
uuid
